<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
    <style>
                body {
            font-family: Arial, sans-serif;
            background-color: rgb(50, 50, 50);
            margin: 0;
            padding: 0;
            background-image: url('https://www.netbloodbank.com/images/search-back.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        div {
            background-color: #fff;
            width: 400px;
            margin: 20px auto;
            padding: 18px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        h3 {
            color: #000;
            text-align: center;
        }

        label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
            color: navy;
            padding: 10px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        .inputbox2:hover {
            border-color: orange;
        }


        button {
            width: 100%;
            padding: 10px;
            background-color: #28a745;
            color: #ccc;
            border: 1px solid transparent;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }    

        button:hover {
            border-color: black;
        }

        a {
            margin-left: 8.5rem;
        }
        p {
            color: orange;
            text-align: center;  
            margin-top: 4rem;
        }

    </style>
</head>
<body>
    <form action="/bloodbank" method="post" >
        <p>Wrong Password! Plaese try again</p>
        <div>
            <label for="email">Email Address :</label>
            <input type="text" name="email" id="email" placeholder="Enter Email" required class="inputbox2">
            <label for="password">Password :</label>
            <input type="password" name="password" id="password" placeholder="Enter Password" required class="inputbox2">
            <button>Login</button> <br> <br>
            <a href="#">Forgate Password</a>
        </div>
    </form>

</body>
</html>